.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 6px;

  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.violet {
  background: var(--color-tag-violet);
}

.green {
  background: var(--color-tag-green);
}

.red {
  background: var(--color-tag-red);
}

.orange {
  background: var(--color-tag-orange);
}

.blue {
  background: var(--color-tag-blue);
}

.lightGreen {
  background: var(--color-tag-lightGreen);
}

.darkBlue {
  background: var(--color-tag-darkBlue);
}

.yellow {
  background: var(--color-tag-yellow);
}
