.container {
  display: flex;
  gap: 6px;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header_name {
  font-size: 1rem;
  line-height: 1;
}

.text {
  font-size: 0.75rem;
  line-height: 1.4;

  color: var(--color-greyText);
}

.header_close {
  cursor: pointer;
}
